.toolbar {
    width: calc(100% - 40px);
    height: 40px;
    padding: 20px;
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 20;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    z-index: 10;

    .content{
        padding-left: 10px;
        width: 100%;
        max-width: calc(100% - 270px);
    }
}