<nav class="slide-in-left">
    <ul>
        <li><a [routerLink]="['dashboard']" routerLinkActive="link-active">Dashboard</a></li>
        <li><a [routerLink]="['first-page']" routerLinkActive="link-active">First Page</a></li>
        <li><a [routerLink]="['second-page']" routerLinkActive="link-active">Second Page</a></li>
        <li><a [routerLink]="['third-page']" routerLinkActive="link-active">Third Page</a></li>
        <li><a [routerLink]="['fourth-page']" routerLinkActive="link-active">Fourth Page</a></li>
    </ul>
</nav>